chapter10/P4ATest/android/src/processing/android/test/p4atest/P4ATest.java
chapter10/P4ATest/android/res/layout/main.xml
chapter10/P4ATest/android/res/drawable/icon.png
chapter10/P4ATest/android/res/drawable-ldpi/icon.png
chapter10/P4ATest/android/res/drawable-hdpi/icon.png
chapter10/P4ATest/android/local.properties
chapter10/P4ATest/android/libs/processing-core.jar
chapter10/P4ATest/android/gen/processing/android/test/p4atest/R.java
chapter10/P4ATest/android/default.properties
chapter10/P4ATest/android/build.xml
chapter10/P4ATest/android/build.properties
chapter10/P4ATest/android/bin/classes/processing/android/test/p4atest/R.class
chapter10/P4ATest/android/bin/classes/processing/android/test/p4atest/R$layout.class
chapter10/P4ATest/android/bin/classes/processing/android/test/p4atest/R$drawable.class
chapter10/P4ATest/android/bin/classes/processing/android/test/p4atest/R$attr.class
chapter10/P4ATest/android/bin/classes/processing/android/test/p4atest/P4ATest.class
chapter10/P4ATest/android/bin/classes.dex
chapter10/P4ATest/android/bin/P4ATest.ap_
chapter10/P4ATest/android/bin/P4ATest-unsigned.apk
chapter10/P4ATest/android/bin/P4ATest-debug.apk
chapter10/P4ATest/android/bin/P4ATest-debug-unaligned.apk
chapter10/P4ATest/android/AndroidManifest.xml
chapter9/project27/SonMicroWriter/sketch.properties
chapter10/FakeBTTester/FakeBTTester.pde
chapter10/GetPostWebServer/GetPostWebServer.ino
chapter10/P4ADatalogger/AndroidManifest.xml
chapter10/P4ATest/sketch.properties
chapter10/*/twilioCreds.js
chapter5/project8/PongServer/sketch.properties
3rd_edition/chapter5/public/movie.mov
*.mp4
*.mov
*config.h
*node_modules*
3rd_edition/chapter6/NobleCameraControl/node_modules
*.DS_Store
3rd_edition/chapter7/Candle/settings.h
3rd_edition/chapter7/WifiUDPClient/settings.h
3rd_edition/chapter4/WiFiStatus/config.h
3rd_edition/chapter9/*/node_modules
*.crt
*.key
3rd_edition/chapter9/ndefReadWrite/ndef.bin
*.pem

3rd_edition/chapter10/catCamDeux/public/libraries/p5.sound.js

3rd_edition/pi_setup.sh

3rd_edition/to do.txt

3rd_edition/wpa_enterprise?

3rd_edition/chapter10/catCamDeux/public/image.jpg

3rd_edition/chapter10/catCamDeux/sketch_mar19b/sketch_mar19b.ino

3rd_edition/chapter10/TwilioFiles/twilioCreds.js
3rd_edition/chapter10/*/platforms/*
3rd_edition/chapter10/*/plugins/*
3rd_edition/chapter10/*/hooks/*
3rd_edition/chapter1/p5Button/libraries/p5.sound.js

3rd_edition/chapter1/p5Button/libraries/p5.dom.js

3rd_edition/chapter10/BleDatalogger/.bithoundrc

3rd_edition/chapter10/BleDatalogger/CONTRIBUTING.md

3rd_edition/chapter10/BleDatalogger/README.md

3rd_edition/chapter10/BleDatalogger/www/libraries/p5.dom.min.js

3rd_edition/chapter10/BleDatalogger/www/libraries/p5.min.js

3rd_edition/chapter10/BleDatalogger/www/libraries/p5.sound.js

*/p5.sound.*

3rd_edition/chapter10/buttonApp/.bithoundrc

3rd_edition/chapter10/buttonApp/CONTRIBUTING.md

3rd_edition/chapter10/buttonApp/README.md

3rd_edition/chapter10/BleDatalogger/www/libraries/p5.sound.min.js

3rd_edition/chapter10/buttonApp/www/libraries/p5.sound.js
