.main {
   background-color: #fefefe;
   color: #0a1840;
   font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

.header {
   background-color: #0a173E;
   color: #f1fffe;
   font-family: sans-serif, "Lucida Grande", Verdana, Arial;
}
