<?xml version='1.0' encoding='utf-8'?>
<widget id="net.tigoe.bledatalogger" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BLEDatalogger</name>
    <description>
        BLE Data Logger for Making Things Talk 3rd Edition
    </description>
    <author href="https://github.com/tigoe/MakingThingsTalk2">
        Tom Igoe
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <platform name="android">
    </platform>
    <platform name="ios">
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-ble-central" spec="~1.1.4" />
</widget>
